nav {
	display: flex;
	background-color: black;
	justify-content: center;
	color: azure;
	font-size: 25px;
}
body,
html {
	font-family: 'Barlow Condensed', sans-serif;
	margin: 0px;
	padding: 0px;
}
.links {
	display: flex;
	list-style-type: none;
	align-items: center;
	margin-left: auto;
	align-items: center;
	padding-right: 40px;
	text-decoration: none;
	font-size: 22px;
}
.link {
	padding-right: 30px;
	color: azure;
	text-decoration: none;
}
h1 {
	padding-left: 40px;
}
.centerBody {
	display: flex;
	justify-content: space-evenly;
	margin: 30px;
	min-height: 100px;
	padding: 30px;
}
.intro {
	padding-left: 50px;
	padding-top: 0px;
	font-size: 45px;
}
.introUl {
	padding-left: 10px;
	font-size: 25px;
}
.logos {
	margin-left: 25%;
	margin-bottom: 50px;
}
.logoImage {
	height: 80px;
}
.profile {
	padding-top: 50px;
	height: 300px;
	border-radius: 50%;
}
p {
	font-size: 30px;
}
.footer {
	display: flex;
	padding: 15px;
	justify-content: center;
	background-color: black;
	color: azure;
}
